:root {
    /* setting for dark mode */
    --font-color: #fff;
    --bg-color: #222222;
    --link-color: #48C9B0;
    --link-hover-color:

    /* setting for light mode */
    --light-font-color:#222222;
    --light-bg-color: #F2F4F4;
    --light-link-color: #ff0000;
}

html{
    margin-top: 30px;
    margin-left: calc(30px + 4vw);
    margin-right: calc(30px + 4vw);
    padding: 0;
}

header {
    text-align: right;
}

i {
    font-size:16px;
    color:var(--font-color);
    padding:4px;
}


canvas {
    display: block;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a i{
    color:var(--link-color);
}

a:hover{
    color:var(--light-link-color);
}

a:hover i {
    color:var(--light-link-color);
}


img {
    height: calc(20vw);
}

.project-table img {
    width:calc(20hw);
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size:0.9rem;
    font-weight:200;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:50px;
    font-size:3.0rem;
}

h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-transform:uppercase;
    margin-top:40px;
    margin-bottom:10px;
}

body.light-mode {
    background-color: var(--light-bg-color);
    color: var(--light-font-color);
}

body.light-mode a {
    color: var(--light-link-color);
}


body.light-mode i {
    color:var(--light-font-color);
}


table {
  border-spacing: 30px;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

footer {
    text-align: center;
}